body {
    background: url('./assests/Green\ Wateroclor\ Leaf\ Linktree\ Background.png');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #fff;
}